!!!
%html
  %head
    %title Damian and Erin are getting married!
    %meta{ name: 'viewport', content: 'width=1000px' }

    %link{ rel: 'stylesheet', href: '/stylesheets/styles.css', media: 'all', type: 'text/css' }

    <script type="text/javascript" src="//use.typekit.net/kpl4mcv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  %body

    #page
      = yield
